**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [1]:
#importing necessary packages
import numpy as np
import pandas as pd

In [2]:
#Loading data
books = pd.read_csv("books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Check no.of records and features given in each dataset

In [3]:
print("DataFrame : books - No. of records : {}, No. of Features : {}.".format(books.shape[0],books.shape[1]))
print("DataFrame : users - No. of records : {}, No. of Features : {}.".format(users.shape[0],users.shape[1]))
print("DataFrame : ratings - No. of records : {}, No. of Features : {}".format(ratings.shape[0],ratings.shape[1]))

DataFrame : books - No. of records : 271360, No. of Features : 8.
DataFrame : users - No. of records : 278858, No. of Features : 3.
DataFrame : ratings - No. of records : 1149780, No. of Features : 3

## Exploring books dataset

In [4]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [5]:
books.columns

Index(['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher',
       'imageUrlS', 'imageUrlM', 'imageUrlL'],
      dtype='object')

In [6]:
books.drop(['imageUrlS', 'imageUrlM', 'imageUrlL'], inplace=True, axis=1)

In [7]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [8]:
books['yearOfPublication'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [9]:
books[books['yearOfPublication'] == 'DK Publishing Inc']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [10]:
books.drop([209538, 221678], inplace=True)

In [11]:
errorlist = books[books['yearOfPublication'] == 'Gallimard'].index.to_list()

In [12]:
books.drop(errorlist, inplace=True)

In [13]:
books[(books['yearOfPublication'] == 'DK Publishing Inc') | (books['yearOfPublication'] == 'Gallimard')]

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

- We have removed records that had `'DK Publishing Inc'` and `'Gallimard'` in the yearOfPublication column.

### Change the datatype of yearOfPublication to 'int'

In [14]:
books['yearOfPublication'] =  books['yearOfPublication'].astype('int64')

In [15]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int64
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [16]:
books['publisher'].isnull().sum()

2

In [17]:
books.dropna(subset=['publisher'],inplace=True)

## Exploring Users dataset

In [18]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [19]:
users['Age'].sort_values(ascending=True).unique()

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 113., 114., 115., 116., 118., 119., 123., 124., 127.,
       128., 132., 133., 136., 137., 138., 140., 141., 143., 146., 147.,
       148., 151., 152., 156., 157., 159., 162., 168., 172., 175., 183.,
       186., 189., 199., 200., 201., 204., 207., 208., 209., 210., 212.,
       219., 220., 223., 226., 228., 229., 230., 231., 237., 239., 244.,
        nan])

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [20]:
users['Age'].fillna(0, inplace=True)

In [21]:
users['Age'].isna().sum()

0

In [22]:
users['Age'] = users['Age'].astype('int64')

In [23]:
users['Age'] = users['Age'].apply(lambda x: np.nan if x < 6 or x > 90 else x )

In [24]:
users['Age'].unique()

array([nan, 18., 17., 61., 26., 14., 25., 19., 46., 55., 32., 24., 20.,
       34., 23., 51., 31., 21., 44., 30., 57., 43., 37., 41., 54., 42.,
       50., 39., 53., 47., 36., 28., 35., 13., 58., 49., 38., 45., 62.,
       63., 27., 33., 29., 66., 40., 15., 60., 79., 22., 16., 65., 59.,
       48., 72., 56., 67., 80., 52., 69., 71., 73., 78.,  9., 64., 12.,
       74., 75., 76., 83., 68., 11., 77., 70.,  8.,  7., 81., 10.,  6.,
       84., 82., 90., 85., 86., 87., 89., 88.])

### Replace null values in column `Age` with mean

In [25]:
meanAge = round(users['Age'].mean())
meanAge

35

In [26]:
users['Age'].fillna(meanAge, inplace=True)

In [27]:
#Checking of the Age column has nan values
users['Age'].unique()

array([35., 18., 17., 61., 26., 14., 25., 19., 46., 55., 32., 24., 20.,
       34., 23., 51., 31., 21., 44., 30., 57., 43., 37., 41., 54., 42.,
       50., 39., 53., 47., 36., 28., 13., 58., 49., 38., 45., 62., 63.,
       27., 33., 29., 66., 40., 15., 60., 79., 22., 16., 65., 59., 48.,
       72., 56., 67., 80., 52., 69., 71., 73., 78.,  9., 64., 12., 74.,
       75., 76., 83., 68., 11., 77., 70.,  8.,  7., 81., 10.,  6., 84.,
       82., 90., 85., 86., 87., 89., 88.])

### Change the datatype of `Age` to `int`

In [28]:
users['Age'] = users['Age'].astype('int64')

In [29]:
print(sorted(users.Age.unique()))

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

## Exploring the Ratings Dataset

### check the shape

In [30]:
ratings.shape

(1149780, 3)

In [31]:
n_users = users.shape[0]
n_books = books.shape[0]

In [32]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [33]:
ratings = ratings[ratings.ISBN.isin(books.ISBN)]

In [34]:
ratings['userID'].count()

1031130

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [35]:
ratings = ratings[ratings.userID.isin(users.userID)]

In [36]:
ratings.shape

(1031130, 3)

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [37]:
ratings['bookRating'].unique()

array([ 0,  5,  3,  6,  7,  9,  8, 10,  1,  4,  2], dtype=int64)

In [38]:
ratings_real = ratings[ratings['bookRating'] != 0 ]

In [39]:
ratings_real['bookRating'].unique()

array([ 5,  3,  6,  7,  9,  8, 10,  1,  4,  2], dtype=int64)

### Find out which rating has been given highest number of times

In [40]:
ratings_real.groupby(['bookRating'])['bookRating'].count().sort_values(ascending=False)

bookRating
8     91804
10    71225
7     66401
9     60776
5     45355
6     31687
4      7617
3      5118
2      2375
1      1481
Name: bookRating, dtype: int64

- The rating 8 is given highest number of time, followed by rating 10 and rating 7.

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [41]:
ratings_real.columns

Index(['userID', 'ISBN', 'bookRating'], dtype='object')

In [46]:
counts = ratings_real['userID'].value_counts()
ratings_100_more = ratings_real[ratings_real['userID'].isin(counts[counts >= 100].index)]

In [48]:
ratings_100_more.head(10)

      userID        ISBN  bookRating
1456  277427  002542730X          10
1458  277427  003008685X           8
1461  277427  0060006641          10
1465  277427  0060542128           7
1474  277427  0061009059           9
1477  277427  0062507109           8
1483  277427  0132220598           8
1488  277427  0140283374           6
1490  277427  014039026X           8
1491  277427  0140390715           7

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [51]:
rating_matrix = ratings_100_more.pivot(index='userID', columns='ISBN', values='bookRating').fillna(0)
rating_matrix.head()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Generate the predicted ratings using SVD function from surprise library

In [52]:
# inporting necessary libraries
from surprise import Reader
from surprise import Dataset
from surprise import accuracy
from surprise import SVD
from surprise.model_selection import train_test_split

In [53]:
reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(ratings_100_more, reader)

In [54]:
trainset = data.build_full_trainset()

In [55]:
model = SVD()
model.fit(trainset)

In [56]:
testset = trainset.build_anti_testset()

In [57]:
test_pred = model.test(testset)
test_pred[0]

Prediction(uid=277427, iid='0006542808', r_ui=7.825397747629976, est=8.401985447050063, details={'was_impossible': False})

In [58]:
accuracy.rmse(test_pred)

RMSE: 0.9908

0.9907661170895973

## Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [60]:
userID = 2110

In [61]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

### Get the predicted ratings for userID `2110` and sort them in descending order

In [62]:
from collections import defaultdict

In [63]:
top_n = defaultdict(list)

def is_empty(any_structure):
    if any_structure:
        return False
    else:
        return True

def get_all_users_ratings(predictions):
    # First map the predictions to each user.
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings

    return top_n

def get_users_ratings(predictions, userID):
    if(is_empty(top_n)):
        get_all_users_ratings(predictions)
        user_ratings = top_n.get(userID)
    else:
        user_ratings = top_n.get(userID)
        
    return user_ratings

In [64]:
user_ratings = get_users_ratings(test_pred, userID)

In [65]:
user_ratings

[('0451169530', 10),
 ('0380018179', 9.832549435923353),
 ('0679723161', 9.719669504222942),
 ('0446310786', 9.654743659884648),
 ('0446365386', 9.632479463710126),
 ('015668568X', 9.59231345082882),
 ('0618002235', 9.561888246918295),
 ('0439136350', 9.548775864597928),
 ('0380813815', 9.533450178214187),
 ('006092988X', 9.53045044283351),
 ('0345361792', 9.53044988581224),
 ('0060256656', 9.513663030238147),
 ('0439139597', 9.495166838486984),
 ('0441172717', 9.487880906896265),
 ('0064400557', 9.460603301116066),
 ('0811801802', 9.41748617032945),
 ('0374199698', 9.397678015887507),
 ('0380005239', 9.396314978975662),
 ('0836218051', 9.384784002196184),
 ('0553258524', 9.370185982870593),
 ('0679417648', 9.357647716781932),
 ('0140143505', 9.350783054553572),
 ('0028604199', 9.350363106246476),
 ('0425141233', 9.341649950461775),
 ('0515119784', 9.325881289538696),
 ('0451524934', 9.323478667613202),
 ('155584376X', 9.320599390070178),
 ('0440404908', 9.319465324575868),
 ('0842329129', 9.31942944725953),
 ('0679889574', 9.31872455632463),
 ('0786000236', 9.31598406189397),
 ('0375504397', 9.314711666017141),
 ('0743222229', 9.312239576502272),
 ('0345350499', 9.3101796192207),
 ('0393308138', 9.305158004028637),
 ('0439136369', 9.300410251520248),
 ('0671605984', 9.293121221741416),
 ('0380978407', 9.288267365933795),
 ('0836220889', 9.285424157382534),
 ('0156006391', 9.282866524704085),
 ('0380797631', 9.27510251468054),
 ('0743411412', 9.270812593851051),
 ('0449147614', 9.267054712738501),
 ('0449212602', 9.264391410181272),
 ('0399224459', 9.260967564715227),
 ('0812550706', 9.259491568483437),
 ('0373834284', 9.255268877864893),
 ('0208023143', 9.254773416587822),
 ('0806970707', 9.252194796722321),
 ('0671578278', 9.24699686258392),
 ('8423334473', 9.24492505643817),
 ('0345417976', 9.241836211406326),
 ('0618002227', 9.240801182209006),
 ('0312265867', 9.237740693688629),
 ('0375800425', 9.23183995849279),
 ('0399141146', 9.231645517527003),
 ('0711905525', 9.23036486628203),
 ('067172519X', 9.229974280759613),
 ('0064400042', 9.229131030041032),
 ('0762409533', 9.227400791196928),
 ('014001165X', 9.219046176408995),
 ('0877017883', 9.214705240405015),
 ('0385492081', 9.212980198351119),
 ('0060264306', 9.209025305877251),
 ('0060934417', 9.2051904823353),
 ('0449912558', 9.203636631627552),
 ('037330112X', 9.199995354407655),
 ('0380896389', 9.195482130460684),
 ('0425107469', 9.189965835820134),
 ('0061000035', 9.189219475678508),
 ('0440498058', 9.184299253172814),
 ('0394800168', 9.183837592462064),
 ('067974388X', 9.183364947952972),
 ('0826313981', 9.181773262173785),
 ('0671737635', 9.181477360091709),
 ('0451404238', 9.181400645298055),
 ('0060531231', 9.1813915707185),
 ('0938077864', 9.177239919898426),
 ('0060391626', 9.175780937354235),
 ('1400032717', 9.173214581529981),
 ('0156226006', 9.17188974059114),
 ('0064400972', 9.171309620148074),
 ('0440400554', 9.168267191610441),
 ('0252006860', 9.166139468805017),
 ('0374527229', 9.165388193021304),
 ('067172262X', 9.16515832129483),
 ('0380814021', 9.164824200167313),
 ('1563891336', 9.164638735032998),
 ('0425063100', 9.163213262795866),
 ('2203001178', 9.158983955739707),
 ('0441627404', 9.15818385797274),
 ('0679429220', 9.157269414660515),
 ('0553277472', 9.15718305409607),
 ('0312168144', 9.156313514950005),
 ('037541309X', 9.155500867977098),
 ('0446611212', 9.151022947327666),
 ('1573229725', 9.149252740372479),
 ('0380776839', 9.147530207092856),
 ('0836218523', 9.146977559198954),
 ('039480001X', 9.146563787027628),
 ('0060256672', 9.145044630694034),
 ('033029623X', 9.14500037789899),
 ('0553294385', 9.14415506385798),
 ('0345425537', 9.142650161003619),
 ('0064408582', 9.142531873217273),
 ('0345345053', 9.141244980548008),
 ('0007144350', 9.140914259667703),
 ('0375500510', 9.140235452342603),
 ('0821767429', 9.139906882917503),
 ('0373802021', 9.139741249104302),
 ('0395389496', 9.13781257099842),
 ('1551669587', 9.137509828283367),
 ('0521337291', 9.137074024490026),
 ('3492265073', 9.136241832906501),
 ('0452280672', 9.136225742172934),
 ('0679763414', 9.135004449996725),
 ('0449221385', 9.133213324011216),
 ('0929605004', 9.132653756148455),
 ('0836218256', 9.131526857985353),
 ('0451168615', 9.131321923584554),
 ('0312924585', 9.127489731471089),
 ('0393050939', 9.1269467587496),
 ('0140282599', 9.126686530230009),
 ('044048474X', 9.12640726385759),
 ('0449207145', 9.126176530876634),
 ('0156528207', 9.125638403795488),
 ('0679774386', 9.124832188159997),
 ('0060512180', 9.124568452050301),
 ('0671727796', 9.123791503012004),
 ('0743412273', 9.122568697581608),
 ('0812968190', 9.121644046142057),
 ('0836213122', 9.120458276707629),
 ('0440229081', 9.118921457232782),
 ('0451527216', 9.117383635643094),
 ('0842343040', 9.117340757015466),
 ('0375412824', 9.116609652977914),
 ('0375758992', 9.115293378662658),
 ('0684857820', 9.114312537888049),
 ('0152050167', 9.112099527427103),
 ('0375502548', 9.111413487413538),
 ('0671525204', 9.11124249048193),
 ('0440211727', 9.109680177587286),
 ('8420618519', 9.108984944727686),
 ('0515122610', 9.108732580316087),
 ('0684856964', 9.108628984012906),
 ('0345418263', 9.10827118856924),
 ('0525237704', 9.10633713474956),
 ('0520204956', 9.105415982106237),
 ('0768905362', 9.104524881645332),
 ('0064471047', 9.104254392523798),
 ('0764313762', 9.102055527670736),
 ('0064400018', 9.101628539796119),
 ('0441031277', 9.101380475235365),
 ('042511774X', 9.101290697822934),
 ('0761536744', 9.100951043856162),
 ('0373123108', 9.100128994686521),
 ('0345333551', 9.098859200083725),
 ('0192800329', 9.093987221208138),
 ('0836221311', 9.093539285133236),
 ('1591821533', 9.093474116815115),
 ('038079487X', 9.09333991987634),
 ('0440216885', 9.092263390254207),
 ('0452279178', 9.090753737047049),
 ('0451210751', 9.09028816790622),
 ('067086045X', 9.089505431332594),
 ('0316107387', 9.088903539155922),
 ('0786865482', 9.088487448513531),
 ('072140359X', 9.087613322997173),
 ('0397300069', 9.087275387057845),
 ('0930193636', 9.086824419566607),
 ('0399146296', 9.085953609793725),
 ('1879431637', 9.085668242064216),
 ('0394800796', 9.08546221717971),
 ('051513287X', 9.08512984092264),
 ('0778320162', 9.081079541353242),
 ('0399134204', 9.080711173855702),
 ('0886774802', 9.080198085994954),
 ('0425150984', 9.079322808354657),
 ('158023190X', 9.078144685839717),
 ('0684827107', 9.077851396655724),
 ('0807010251', 9.077512836813712),
 ('0345339681', 9.076746678764664),
 ('0380727501', 9.076218206418542),
 ('0743471482', 9.075050158999227),
 ('0312966970', 9.074771921714136),
 ('0312089996', 9.07473977510752),
 ('0967063140', 9.074598174993554),
 ('0515116750', 9.073554349997513),
 ('0060256575', 9.07259669944883),
 ('0446364762', 9.072553947887087),
 ('0449911519', 9.0719235237754),
 ('0966304659', 9.071526390375638),
 ('0451529340', 9.071104074062646),
 ('0440237688', 9.070500220199765),
 ('0399138994', 9.07007864877739),
 ('0340859601', 9.068401498639789),
 ('0517150468', 9.067878022559954),
 ('0060520515', 9.067412201940302),
 ('0028615689', 9.067101583805009),
 ('0373272545', 9.067010350339947),
 ('0821736396', 9.066210857667118),
 ('0373510136', 9.06573230954155),
 ('1558745718', 9.06502016882442),
 ('0140134514', 9.064605058827652),
 ('0552991872', 9.064209196812868),
 ('0877730741', 9.064166942226374),
 ('0140772863', 9.064138129434355),
 ('0316666343', 9.063794975536245),
 ('0446606324', 9.063478263616524),
 ('0393048470', 9.063190003987744),
 ('0904766667', 9.063068498868617),
 ('0373115768', 9.062699172227184),
 ('0425183440', 9.062424714343765),
 ('0440181275', 9.061560195854153),
 ('0451526716', 9.060513422475104),
 ('0416194303', 9.060282423397183),
 ('0312983867', 9.059176324732345),
 ('067181740X', 9.059113703919287),
 ('1588250016', 9.057873668914661),
 ('1401300227', 9.054153105578118),
 ('0689807775', 9.053307973516459),
 ('0521328101', 9.052104539920498),
 ('0312983271', 9.051533658896373),
 ('0671441035', 9.051275030220042),
 ('0345348656', 9.050636738237968),
 ('0805007911', 9.050501191156588),
 ('0312264100', 9.050420058683013),
 ('0312962452', 9.049454654181336),
 ('0439139600', 9.049296164349903),
 ('0345381815', 9.049268552969709),
 ('0062548662', 9.049099598439984),
 ('0140176616', 9.04858741628843),
 ('3453503384', 9.048112236730416),
 ('0316358428', 9.047806673917899),
 ('0060391839', 9.047187084300894),
 ('030680607X', 9.047044667865189),
 ('1568655282', 9.046428703738096),
 ('043935806X', 9.04611676216949),
 ('0855616539', 9.045990359557624),
 ('0375700943', 9.045495675078453),
 ('0345441036', 9.044655986795991),
 ('0553099612', 9.04437000807342),
 ('1885173113', 9.04259167157646),
 ('055317245X', 9.042131240193637),
 ('0812517725', 9.041318544696912),
 ('0373094345', 9.039364751494844),
 ('0886773520', 9.039315061047365),
 ('006108560X', 9.039155447312632),
 ('0807014176', 9.039038589906719),
 ('0345424719', 9.038155017062445),
 ('0385311567', 9.037442700879739),
 ('1560252723', 9.036972613161964),
 ('0345273303', 9.036927839616538),
 ('1581840594', 9.033858033077419),
 ('059003426X', 9.033141639497686),
 ('0440501601', 9.033038217134992),
 ('0866228306', 9.032778309832421),
 ('0515119482', 9.03260076828658),
 ('0441005667', 9.031576879376413),
 ('0395292034', 9.026551514203542),
 ('1930009054', 9.026079813790318),
 ('0743471547', 9.02606321839935),
 ('1585421170', 9.025439440338946),
 ('0553571656', 9.025096345593514),
 ('1559210354', 9.025017063495673),
 ('1572703024', 9.025000725840735),
 ('0452278902', 9.024911551247582),
 ('0886877660', 9.024643419506692),
 ('0861710975', 9.024234422221582),
 ('0732907985', 9.02409254440353),
 ('0393008533', 9.023968988317744),
 ('3716510874', 9.023563942791764),
 ('0871161885', 9.023497196292064),
 ('0743219619', 9.022393843918723),
 ('1568952910', 9.022313344490085),
 ('0028604202', 9.022310249849257),
 ('0345279263', 9.021095513749986),
 ('0743233034', 9.020325965455939),
 ('0201103540', 9.019948317878974),
 ('0918949165', 9.019910819665144),
 ('068484611X', 9.019558517588358),
 ('0736903054', 9.018496522488602),
 ('0446363715', 9.018481831974043),
 ('0385336810', 9.01828136513456),
 ('014027443X', 9.018080715069463),
 ('0618002243', 9.018017913290961),
 ('069401236X', 9.017172116991224),
 ('0960255214', 9.016664975947899),
 ('0345348036', 9.016486301878615),
 ('0399138900', 9.016155165636864),
 ('0877735999', 9.016002055937472),
 ('074342798X', 9.015433325591761),
 ('0345434676', 9.014460799223437),
 ('0385413017', 9.014363025002886),
 ('0802130208', 9.013747399127354),
 ('0446364622', 9.013013248908178),
 ('0553278274', 9.011874754068845),
 ('074347712X', 9.011761826489412),
 ('044077456X', 9.011503992835385),
 ('8478886680', 9.01146602969677),
 ('0671526723', 9.011209174472894),
 ('0380707837', 9.010229574585308),
 ('0671042939', 9.009643730467495),
 ('0316168815', 9.009465417232317),
 ('0816027722', 9.008966062261294),
 ('0836204387', 9.007122830021904),
 ('1883831105', 9.007073518723518),
 ('0375412883', 9.00633059662396),
 ('044900578X', 9.005967072716723),
 ('0684868113', 9.005786333982343),
 ('0307711358', 9.00519075976424),
 ('1585420492', 9.004537672999003),
 ('0880389281', 9.004129580858898),
 ('0060577487', 9.003608649770658),
 ('0385029306', 9.003407371203332),
 ('0441010296', 9.003336111775967),
 ('0553569783', 9.00298891051626),
 ('0380978415', 9.00274521157634),
 ('1893896331', 9.002270335368241),
 ('037319711X', 9.002165706445723),
 ('0553274295', 9.002149859188671),
 ('087081365X', 9.001738893570447),
 ('0671006614', 9.001666410901636),
 ('1591051894', 9.001316586213324),
 ('0446612790', 9.0000713514342),
 ('0811807843', 8.999968011893303),
 ('0141182342', 8.999364214241647),
 ('0449904539', 8.99933567019679),
 ('0451157052', 8.998799075652583),
 ('0060809256', 8.99836853328174),
 ('0684193132', 8.998227670832033),
 ('0060537973', 8.99807958792847),
 ('081120099X', 8.997697017036684),
 ('039397779X', 8.997623241951485),
 ('0440209412', 8.997530698612707),
 ('0425062368', 8.99720462377848),
 ('0553452991', 8.995863912536057),
 ('0517288451', 8.99550890918664),
 ('0515115088', 8.994506413131957),
 ('0380973634', 8.994434129955204),
 ('0446608165', 8.993628457526274),
 ('0425114511', 8.993174564240629),
 ('0440440629', 8.993124447405494),
 ('0590373323', 8.993103879862979),
 ('0966602161', 8.992283042533128),
 ('0842384065', 8.991549467561278),
 ('0752847740', 8.990269082455953),
 ('0812565959', 8.990015768493889),
 ('0765306492', 8.989884450842746),
 ('288124632X', 8.989717743918995),
 ('0020442009', 8.98896836063815),
 ('0881012343', 8.987877238438214),
 ('0312869940', 8.987828583648374),
 ('0307001040', 8.987635528326384),
 ('0380820838', 8.987633801172619),
 ('038548724X', 8.987306489063148),
 ('0449206874', 8.987074564862283),
 ('0393955524', 8.98659875458965),
 ('0451191684', 8.98613179053909),
 ('0679602860', 8.986123932494342),
 ('0345444884', 8.985518255789838),
 ('0515126772', 8.98497592161935),
 ('1575667266', 8.984208056559217),
 ('0824819179', 8.983837908468923),
 ('0385729340', 8.98320745809448),
 ('0151262276', 8.982953641153943),
 ('0425193047', 8.982464060241847),
 ('0440405483', 8.98217323631002),
 ('0375411070', 8.98174504513891),
 ('0836280059', 8.981630737016863),
 ('0451190491', 8.981431633995033),
 ('1576731235', 8.980765115157748),
 ('0385473907', 8.980648721452908),
 ('0671709704', 8.98063489757164),
 ('0399232478', 8.979886192615036),
 ('055321201X', 8.979730994636867),
 ('0812523725', 8.979661485442307),
 ('0812967879', 8.97873991775392),
 ('0786118822', 8.978509186060839),
 ('0763608106', 8.977849260678092),
 ('0515062146', 8.977840897109377),
 ('0743202708', 8.977356448340007),
 ('0140445471', 8.976435067410916),
 ('037351011X', 8.9751103443506),
 ('0486280306', 8.974608157043066),
 ('0720611415', 8.973961174047254),
 ('0802484298', 8.973627213191945),
 ('0441011616', 8.97356947528787),
 ('067972768X', 8.973556008180116),
 ('0486275507', 8.973257813892955),
 ('0060192704', 8.97241072040228),
 ('1400047838', 8.971937985357531),
 ('0060188731', 8.971684792529201),
 ('0440928397', 8.97160007305616),
 ('0310354110', 8.97140791655055),
 ('0717282228', 8.971404759097855),
 ('0156004801', 8.971326002345666),
 ('0380868768', 8.971137944842754),
 ('0304328510', 8.97015954839084),
 ('0684853515', 8.969653372484348),
 ('0373763980', 8.96948953559674),
 ('0441005438', 8.968980213096698),
 ('0140513124', 8.968914441811226),
 ('0451161327', 8.968881441727984),
 ('0060153180', 8.968863610377559),
 ('0802806414', 8.967877407340376),
 ('0761118268', 8.967860633422067),
 ('0060005688', 8.967670932368485),
 ('0786000899', 8.966995447604614),
 ('0425183971', 8.96656897939449),
 ('0385309139', 8.96646345630506),
 ('1555603637', 8.966261627945395),
 ('0875420036', 8.966221078886157),
 ('0446385905', 8.965651412917309),
 ('1560443944', 8.964836253035076),
 ('1582971846', 8.964433795361753),
 ('1558672095', 8.964319063949354),
 ('0451201574', 8.964214035089386),
 ('074342736X', 8.964200402227917),
 ('0553236245', 8.96401264992639),
 ('0375752498', 8.963400301374715),
 ('9715420400', 8.96266528747138),
 ('0061030155', 8.962190559910109),
 ('0446609404', 8.962158245498134),
 ('140004930X', 8.961921093621008),
 ('0681396083', 8.961752261772466),
 ('3593367661', 8.961418699433453),
 ('0399148248', 8.961376081936164),
 ('0385187866', 8.96135515917312),
 ('0743454529', 8.960141432886129),
 ('0802131786', 8.959966113508019),
 ('1582900337', 8.959864702249426),
 ('0028621565', 8.95965548519416),
 ('0805018956', 8.95924981371568),
 ('0671462970', 8.958631360915739),
 ('059526882X', 8.958460666928396),
 ('0553575376', 8.95769078281818),
 ('1590580486', 8.957321796532495),
 ('0451456963', 8.9570910954846),
 ('0140042229', 8.957021472315114),
 ('0060964049', 8.956964528981468),
 ('0448089580', 8.955881910846408),
 ('1563894289', 8.955458874273821),
 ('1563410974', 8.955234571110509),
 ('0226848655', 8.955004977821593),
 ('0140502343', 8.954933605549389),
 ('030712844X', 8.95456198678793),
 ('0486263231', 8.954091287585179),
 ('0743418174', 8.95384165358838),
 ('0373073372', 8.953760094236067),
 ('0345294157', 8.953383676672377),
 ('0060266864', 8.95278143769886),
 ('0380017601', 8.952764774390479),
 ('0761129790', 8.952243560304698),
 ('0842332278', 8.951947589908936),
 ('006101351X', 8.95137215361745),
 ('9506440298', 8.950956812347368),
 ('0912310731', 8.950812893728372),
 ('1401397506', 8.95065027501239),
 ('0399138684', 8.950606780639493),
 ('0689711735', 8.95059828434884),
 ('0071407944', 8.950330661909645),
 ('0930289552', 8.950304283651157),
 ('0671680080', 8.949946407837782),
 ('0399151745', 8.949737707527287),
 ('0192834584', 8.949704518222612),
 ('0440229499', 8.949251525039392),
 ('0758203187', 8.949235931164495),
 ('0174434804', 8.949178404278896),
 ('0316235024', 8.948982283929835),
 ('0679445765', 8.948768886318922),
 ('0687407737', 8.948111547103961),
 ('0312284713', 8.947754603260362),
 ('0671723456', 8.947214624347776),
 ('055380314X', 8.946889625179839),
 ('157322149X', 8.946726906524125),
 ('038081790X', 8.946449254946259),
 ('0805005889', 8.94627301891904),
 ('089272398X', 8.946227806783568),
 ('0553493272', 8.946191020657773),
 ('0441873375', 8.946178081227945),
 ('0061007161', 8.94613429897503),
 ('1562393723', 8.946116625411113),
 ('0881010820', 8.946004892574562),
 ('0375751513', 8.945678413126668),
 ('3492229786', 8.945606471219723),
 ('080501246X', 8.945463654454743),
 ('0373218370', 8.945327135489476),
 ('0743230043', 8.945233686322553),
 ('0553205587', 8.944935976663393),
 ('0451212827', 8.944807792653357),
 ('0375706771', 8.944209428823946),
 ('0373165943', 8.944070698352682),
 ('0395177111', 8.943750967093694),
 ('0852072481', 8.943620859143849),
 ('1559704640', 8.943502380320485),
 ('006093476X', 8.943412843453173),
 ('0836217691', 8.943381976147654),
 ('0679454330', 8.943299972074328),
 ('0060548282', 8.942819435026633),
 ('0345429133', 8.942358884744054),
 ('0553565915', 8.942337599619322),
 ('0684810190', 8.942144626027378),
 ('0671884298', 8.941490193984855),
 ('1572153237', 8.941330432407018),
 ('0425193292', 8.940654287131931),
 ('0373291396', 8.940056088934565),
 ('0671653636', 8.938833185015278),
 ('0763604089', 8.938796266992467),
 ('0451450957', 8.938366283173723),
 ('0312985215', 8.938292211423164),
 ('0064432483', 8.937914140218583),
 ('0452272351', 8.937733356634933),
 ('0671697994', 8.937624484689438),
 ('037319644X', 8.937423744149832),
 ('3453007867', 8.937399641097574),
 ('0848817397', 8.937348534019074),
 ('1892123029', 8.937026339021255),
 ('1560600543', 8.93681192593351),
 ('0812574745', 8.93647718936202),
 ('0553296981', 8.936032922704669),
 ('0440418194', 8.93584955428175),
 ('2870970137', 8.935758350492172),
 ('0816725470', 8.935735443856027),
 ('0373218400', 8.935555639057958),
 ('3442150620', 8.935518375184017),
 ('0318233614', 8.935284780565247),
 ('0688092349', 8.935214322250054),
 ('0446357405', 8.935117466146126),
 ('0565091743', 8.93462476304856),
 ('0192803735', 8.934535416269094),
 ('006018700X', 8.93450515544458),
 ('0821758497', 8.934473797902523),
 ('0070212570', 8.934359688179104),
 ('0856487414', 8.934262416288627),
 ('0345310020', 8.933983986735166),
 ('0609608568', 8.93395953802696),
 ('0721641318', 8.93373552662438),
 ('0590445774', 8.933711520668174),
 ('0748742867', 8.933675870233213),
 ('0060987561', 8.933568255135077),
 ('0312993536', 8.933482233597974),
 ('0806913835', 8.933207884743945),
 ('0451163966', 8.932828374120598),
 ('0345462327', 8.932817750989736),
 ('0141310995', 8.93264802574299),
 ('0373763085', 8.932626183589802),
 ('0886774233', 8.93259791543434),
 ('0864424655', 8.93253464587599),
 ('1400031346', 8.932518406116396),
 ('0684840065', 8.932496271993116),
 ('0874849098', 8.932337368106595),
 ('0873529758', 8.932307440397887),
 ('0803605242', 8.932042236880042),
 ('0060554800', 8.931987727448563),
 ('0373120435', 8.931823039520214),
 ('0395247586', 8.931757524672534),
 ('0440932599', 8.931686216065856),

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [66]:
user_data = ratings_real[ratings_real['userID']==2110]

In [67]:
user_data.head()

       userID        ISBN  bookRating
14448    2110  0060987529           7
14449    2110  0064472779           8
14450    2110  0140022651          10
14452    2110  0142302163           8
14453    2110  0151008116           5

In [68]:
user_data.shape

(103, 3)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [69]:
book_data = books[books['ISBN'].isin(user_data['ISBN'])]

In [70]:
book_data.shape

(103, 5)

In [71]:
book_data.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
246,0151008116,Life of Pi,Yann Martel,2002,Harcourt
904,015216250X,So You Want to Be a Wizard: The First Book in ...,Diane Duane,2001,Magic Carpet Books
1000,0064472779,All-American Girl,Meg Cabot,2003,HarperTrophy
1302,0345307674,Return of the Jedi (Star Wars),James Kahn,1983,Del Rey Books
1472,0671527215,Hitchhikers's Guide to the Galaxy,Douglas Adams,1984,Pocket

In [72]:
user_full_info = pd.merge(user_data, book_data, on='ISBN')

In [73]:
user_full_info.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
0,2110,0060987529,7,Confessions of an Ugly Stepsister : A Novel,Gregory Maguire,2000,Regan Books
1,2110,0064472779,8,All-American Girl,Meg Cabot,2003,HarperTrophy
2,2110,0140022651,10,Journey to the Center of the Earth,Jules Verne,1965,Penguin Books
3,2110,0142302163,8,The Ghost Sitter,Peni R. Griffin,2002,Puffin Books
4,2110,0151008116,5,Life of Pi,Yann Martel,2002,Harcourt

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [74]:
not_rated_books = ratings[(ratings['userID']==2110) & (ratings['bookRating']==0)]['ISBN'].tolist()

In [75]:
def get_user_rating_books_list(user_ratings):
    books_list = []
    for isbn, user_rating in user_ratings:
        if(isbn in not_rated_books):
            #print(isbn, user_rating)
            books_list.append(isbn)
    return books_list

def get_top_k_books_list(books_list, k):
    return books_list[:k]

In [76]:
user_books_list = get_user_rating_books_list(user_ratings)
top_10_recommondations = get_top_k_books_list(user_books_list, 10)
print('Top 10 recommendations for userid : '+str(userID))
for item in top_10_recommondations:
    print('ISBN ID : {}'.format(str(item)))

Top 10 recommendations for userid : 2110
ISBN ID : 0140298479
ISBN ID : 0440901588
ISBN ID : 0515133973
ISBN ID : 0671740881
ISBN ID : 0670820555
ISBN ID : 0439164567
ISBN ID : 0590010891
ISBN ID : 0886774829
ISBN ID : 0451149513
ISBN ID : 0671517643

In [77]:
books[books['ISBN'].isin(top_10_recommondations)]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
2488,0140298479,Bridget Jones: The Edge of Reason,Helen Fielding,2001,Penguin Books
2659,0671740881,EVIL ONE (PHANTOM VALLEY 1) : EVIL ONE (Phanto...,Lynn Beach,1991,Aladdin
2685,0439164567,"Shipwreck (Island, Book 1)",Gordon Korman,2001,Hyperion Books for Children
4287,0670820555,Spy Catcher: The Candid Autobiography of a Sen...,Peter Wright,1987,Penguin USA
6100,0671517643,LITTLE WOMEN,Louisa May Alcott,1994,Pocket
8468,0440901588,A Swiftly Tilting Planet,Madeleine L'Engle,1979,Laure Leaf
12151,0515133973,Midnight Bayou,Nora Roberts,2004,Jove Books
16225,0590010891,Star Wars Episode I: The Phantom Menace,Patricia C. Wrede,1999,Scholastic
16244,0451149513,It,Stephen King,1987,New Amer Library
16300,0886774829,"Stronghold (Dragon Star, Book 1)",Melanie Rawn,1994,Daw Books